root = false

# C# files
[*.cs]

# Disable all analyzers
# Reason: This folder contains external packages and should not be analyzed
dotnet_analyzer_diagnostic.RCS1123.severity = none
dotnet_analyzer_diagnostic.category-roslynator.severity = none
dotnet_analyzer_diagnostic.category-Style.severity = none
dotnet_analyzer_diagnostic.category-Performance.severity = none

# IDE0079 Remove unnecessary suppression
dotnet_diagnostic.IDE0079.severity = none
